body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 520px;
    text-align: center;
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333333;
    font-size: 24px;
}

h2 {
    color: #555555;
    margin-bottom: 10px;
    font-size: 18px;
}

.form {
    margin-bottom: 20px;
}

.input-file,
.input-text {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.input-file:focus,
.input-text:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.answer-section {
    margin-top: 20px;
}

.answer-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    min-height: 50px;
    text-align: left;
    color: #333333;
    font-size: 14px;
}
.show {
    display: inline-block;
}
.hide {
    display: none;
}
